@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #f5f6fa; */
}

/* this is for setting height to leaflet map  */
.leaflet-container {
  height: 100%;
}
